Trifolia.Export/Terminology/voc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by Sean P McIlvenna (Alschuler Associates, LLC) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.lantanagroup.com/voc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lantanagroup.com/voc">
	<xs:element name="systems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="system" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="system">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="code" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="valueSetOid" type="xs:string" use="required"/>
			<xs:attribute name="valueSetName" type="xs:string" use="required"/>
			<xs:attribute name="root" type="xs:string"/>
			<xs:attribute name="codeSystemName" type="xs:string"/>
			<xs:attribute name="binding" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="synonym" type="xs:string"/>
			<xs:attribute name="displayName" type="xs:string" use="required"/>
			<xs:attribute name="codeSystemName" type="xs:string"/>
			<xs:attribute name="codeSystem" type="xs:string"/>
			<xs:attribute name="category" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
