Trifolia.Terminology/Transforms/oid_mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 sp2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="T_root"/>
	<xs:element name="convert" type="T_convert"/>
	<xs:attribute name="oid" type="AT_1"/>
	<xs:attribute name="uri" type="xs:anyURI"/>
	<xs:complexType name="T_root">
		<xs:sequence>
			<xs:element ref="convert" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_convert">
		<xs:attribute ref="oid" use="required"/>
		<xs:attribute ref="uri" use="required"/>
	</xs:complexType>
	<xs:simpleType name="AT_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2.16.840.1.113883.1.3"/>
			<xs:enumeration value="2.16.840.1.113883.3.117"/>
			<xs:enumeration value="2.16.840.1.113883.3.2819"/>
			<xs:enumeration value="2.16.840.1.113883.4.1"/>
			<xs:enumeration value="2.16.840.1.113883.5.1"/>
			<xs:enumeration value="2.16.840.1.113883.5.10"/>
			<xs:enumeration value="2.16.840.1.113883.5.100"/>
			<xs:enumeration value="2.16.840.1.113883.5.1001"/>
			<xs:enumeration value="2.16.840.1.113883.5.1002"/>
			<xs:enumeration value="2.16.840.1.113883.5.1008"/>
			<xs:enumeration value="2.16.840.1.113883.5.1009"/>
			<xs:enumeration value="2.16.840.1.113883.5.101"/>
			<xs:enumeration value="2.16.840.1.113883.5.1010"/>
			<xs:enumeration value="2.16.840.1.113883.5.1017"/>
			<xs:enumeration value="2.16.840.1.113883.5.102"/>
			<xs:enumeration value="2.16.840.1.113883.5.1020"/>
			<xs:enumeration value="2.16.840.1.113883.5.1022"/>
			<xs:enumeration value="2.16.840.1.113883.5.103"/>
			<xs:enumeration value="2.16.840.1.113883.5.105"/>
			<xs:enumeration value="2.16.840.1.113883.5.1050"/>
			<xs:enumeration value="2.16.840.1.113883.5.1055"/>
			<xs:enumeration value="2.16.840.1.113883.5.1056"/>
			<xs:enumeration value="2.16.840.1.113883.5.1057"/>
			<xs:enumeration value="2.16.840.1.113883.5.106"/>
			<xs:enumeration value="2.16.840.1.113883.5.1061"/>
			<xs:enumeration value="2.16.840.1.113883.5.1062"/>
			<xs:enumeration value="2.16.840.1.113883.5.1067"/>
			<xs:enumeration value="2.16.840.1.113883.5.1068"/>
			<xs:enumeration value="2.16.840.1.113883.5.1069"/>
			<xs:enumeration value="2.16.840.1.113883.5.107"/>
			<xs:enumeration value="2.16.840.1.113883.5.1074"/>
			<xs:enumeration value="2.16.840.1.113883.5.108"/>
			<xs:enumeration value="2.16.840.1.113883.5.1082"/>
			<xs:enumeration value="2.16.840.1.113883.5.109"/>
			<xs:enumeration value="2.16.840.1.113883.5.1092"/>
			<xs:enumeration value="2.16.840.1.113883.5.1097"/>
			<xs:enumeration value="2.16.840.1.113883.5.1099"/>
			<xs:enumeration value="2.16.840.1.113883.5.110"/>
			<xs:enumeration value="2.16.840.1.113883.5.1100"/>
			<xs:enumeration value="2.16.840.1.113883.5.111"/>
			<xs:enumeration value="2.16.840.1.113883.5.1111"/>
			<xs:enumeration value="2.16.840.1.113883.5.1116"/>
			<xs:enumeration value="2.16.840.1.113883.5.1117"/>
			<xs:enumeration value="2.16.840.1.113883.5.1119"/>
			<xs:enumeration value="2.16.840.1.113883.5.1120"/>
			<xs:enumeration value="2.16.840.1.113883.5.1121"/>
			<xs:enumeration value="2.16.840.1.113883.5.1122"/>
			<xs:enumeration value="2.16.840.1.113883.5.1124"/>
			<xs:enumeration value="2.16.840.1.113883.5.1126"/>
			<xs:enumeration value="2.16.840.1.113883.5.1129"/>
			<xs:enumeration value="2.16.840.1.113883.5.113"/>
			<xs:enumeration value="2.16.840.1.113883.5.1137"/>
			<xs:enumeration value="2.16.840.1.113883.5.12"/>
			<xs:enumeration value="2.16.840.1.113883.5.13"/>
			<xs:enumeration value="2.16.840.1.113883.5.139"/>
			<xs:enumeration value="2.16.840.1.113883.5.14"/>
			<xs:enumeration value="2.16.840.1.113883.5.143"/>
			<xs:enumeration value="2.16.840.1.113883.5.16"/>
			<xs:enumeration value="2.16.840.1.113883.5.18"/>
			<xs:enumeration value="2.16.840.1.113883.5.2"/>
			<xs:enumeration value="2.16.840.1.113883.5.21"/>
			<xs:enumeration value="2.16.840.1.113883.5.25"/>
			<xs:enumeration value="2.16.840.1.113883.5.30"/>
			<xs:enumeration value="2.16.840.1.113883.5.4"/>
			<xs:enumeration value="2.16.840.1.113883.5.41"/>
			<xs:enumeration value="2.16.840.1.113883.5.43"/>
			<xs:enumeration value="2.16.840.1.113883.5.44"/>
			<xs:enumeration value="2.16.840.1.113883.5.45"/>
			<xs:enumeration value="2.16.840.1.113883.5.57"/>
			<xs:enumeration value="2.16.840.1.113883.5.6"/>
			<xs:enumeration value="2.16.840.1.113883.5.79"/>
			<xs:enumeration value="2.16.840.1.113883.5.81"/>
			<xs:enumeration value="2.16.840.1.113883.5.9"/>
			<xs:enumeration value="2.16.840.1.113883.5.90"/>
			<xs:enumeration value="2.16.840.1.113883.6.1"/>
			<xs:enumeration value="2.16.840.1.113883.6.121"/>
			<xs:enumeration value="2.16.840.1.113883.6.256"/>
			<xs:enumeration value="2.16.840.1.113883.6.3"/>
			<xs:enumeration value="2.16.840.1.113883.6.42"/>
			<xs:enumeration value="2.16.840.1.113883.6.73"/>
			<xs:enumeration value="2.16.840.1.113883.6.8"/>
			<xs:enumeration value="2.16.840.1.113883.6.96"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
