Trifolia.Shared/ImportExport/Model/TemplateExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Richard Geimer (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lcg="http://www.lantanagroup.com"
	targetNamespace="http://www.lantanagroup.com" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Trifolia">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Template" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ImplementationGuide">
								<xs:complexType>
									<xs:attribute name="name" use="required"/>
									<xs:attribute default="1" name="version" type="xs:int"
										use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="PreviousVersion" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string"/>
									<xs:attribute name="identifier" type="xs:string" use="required"
									/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
							<xs:element name="Notes" type="xs:string" minOccurs="0"/>
							<xs:element name="Constraint" type="lcg:ConstraintType" minOccurs="0"
								maxOccurs="unbounded"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Extension">
								<xs:complexType>
									<xs:attribute name="identifier" use="required"/>
									<xs:attribute name="type" use="required"/>
									<xs:attribute name="value" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Sample">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="identifier" type="xs:string" use="required"/>
						<xs:attribute name="implementationGuideType" type="xs:string" use="required"/>
						<xs:attribute name="templateType" type="xs:string" use="required"/>
						<xs:attribute name="title" type="xs:string" use="required"/>
						<xs:attribute name="bookmark" type="xs:string" use="required"/>
						<xs:attribute name="context" type="xs:string" use="required"/>
						<xs:attribute name="contextType" type="xs:string"/>
						<xs:attribute name="isOpen" type="xs:boolean"/>
						<xs:attribute name="impliedTemplateOid" type="xs:string"/>
						<xs:attribute name="publishStatus" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="ImplementationGuide">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="WebDescription" type="xs:string"/>
							<xs:element minOccurs="0" name="WebReadmeOverview" type="xs:string"/>
							<xs:element minOccurs="0" name="PreviousVersion">
								<xs:complexType>
									<xs:attribute name="name" use="required"/>
									<xs:attribute name="number" type="xs:int" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="CustomTemplateType">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustomName" type="xs:string"/>
										<xs:element minOccurs="0" name="Description"
											type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="templateTypeName"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="5" minOccurs="0" name="CardinalityDisplay">
								<xs:complexType>
									<xs:attribute name="cardinality" type="lcg:CardinalityTypes"/>
									<xs:attribute name="display"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="CustomSchematron">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="Rule" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="phase" use="required"/>
									<xs:attribute name="patternId" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Category">
								<xs:complexType>
									<xs:attribute name="name" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="Volume1">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Html" type="xs:string"/>
										<xs:sequence>
											<xs:element maxOccurs="unbounded" minOccurs="0"
												name="Section">
												<xs:complexType>
												<xs:sequence>
												<xs:element minOccurs="1" name="Heading">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="Title" type="xs:string"/>
												<xs:element name="Level" type="xs:int"/>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												<xs:element minOccurs="0" name="Content"
												type="xs:string"/>
												</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="File" maxOccurs="unbounded" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Files that are attached to the implemnetation guide. Content is base64 encoded.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string"/>
										<xs:element minOccurs="1" name="Content" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Schhematron">
												<xs:annotation>
												<xs:documentation>Schematron validation rules (.sch) file</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="ImplementationGuide">
												<xs:annotation>
												<xs:documentation>A snapshot (JSON) of the implementation guide at a specific point in time.</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="SchhematronHelper">
												<xs:annotation>
												<xs:documentation>Files used by a "Schematron" file to assist in executing the validation rules (ex: other .xml files that are components of the overall .sch validation)</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Vocabulary">
												<xs:annotation>
												<xs:documentation>Vocabulary xml or xlsx files</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="DeliverableSample">
												<xs:annotation>
												<xs:documentation>A sample that should be included in publication packages</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="GoodSample">
												<xs:annotation>
												<xs:documentation>A sample used for testing that produces no errors from validation</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="BadSample">
												<xs:annotation>
												<xs:documentation>A sample that includes errors for testing</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="FHIRResourceInstance">
												<xs:annotation>
												<xs:documentation>FHIR resource instances that are used by the implementation guide (such as OperationDefinition, SearchParameter, etc.)</xs:documentation>
												</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="mimeType" type="xs:string" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name of the file, generally including the extension (ex: myFile.xml)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required"/>
						<xs:attribute name="type" use="required"/>
						<xs:attribute default="1" name="version" type="xs:int"/>
						<xs:attribute default="Draft" name="status"
							type="lcg:ImplementationGuideStatus" use="optional"/>
						<xs:attribute name="displayName"/>
						<xs:attribute name="webDisplayName"/>
						<xs:attribute name="organizationName"/>
						<xs:attribute name="identifier"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="CodeSystem">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Identifier">
								<xs:complexType>
									<xs:attribute name="value"/>
								</xs:complexType>
							</xs:element>
							<xs:element default="" minOccurs="0" name="Description" type="xs:string"
							/>
						</xs:sequence>
						<xs:attribute name="name"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="ValueSet">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Identifier">
								<xs:complexType>
									<xs:attribute name="value"/>
									<xs:attribute name="type"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Description" type="xs:string"/>
							<xs:element minOccurs="0" name="IntensionalDefinition" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Member">
								<xs:complexType>
									<xs:attribute name="displayName" use="required"/>
									<xs:attribute name="code" use="required"/>
									<xs:attribute name="codeSystemIdentifier" use="required"/>
									<xs:attribute name="status">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="active"/>
												<xs:enumeration value="inactive"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="statusDate"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name"/>
						<xs:attribute name="defaultIdentifier"/>
						<xs:attribute name="code"/>
						<xs:attribute name="intensional" type="xs:boolean"/>
						<xs:attribute name="source"/>
						<xs:attribute default="true" name="isIncomplete" type="xs:boolean"
							use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ConstraintType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="SingleValueCode">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="displayName" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ValueSet">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="identifier" type="xs:string" use="required"/>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="isStatic" type="xs:boolean" use="optional"/>
						<xs:attribute name="date" type="xs:date"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="CodeSystem" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="identifier" type="xs:string" use="required"/>
					<xs:attribute name="name"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SchematronTest" type="xs:string" minOccurs="0"/>
			<xs:element name="NarrativeText" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element minOccurs="0" name="Notes" type="xs:string"/>
			<xs:element name="Label" type="xs:string" minOccurs="0"/>
			<xs:element minOccurs="0" name="HeadingDescription" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Category">
				<xs:complexType>
					<xs:attribute name="name" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Sample">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="name" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Constraint" type="lcg:ConstraintType" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="number" type="xs:int">
			<xs:annotation>
				<xs:documentation>Represents the unique number of the constraint within the implementation guide.</xs:documentation>
				<xs:documentation>If no number and no displayNumber is specified when using this structure to import into Trifolia, a new constraint will always be created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayNumber">
			<xs:annotation>
				<xs:documentation>Used to indicate what the conformance number should display as in exports from Trifolia.</xs:documentation>
				<xs:documentation>If no number and no displayNumber is specified when using this structure to import into Trifolia, a new constraint will always be created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="context" type="xs:string" use="optional"/>
		<xs:attribute name="conformance" use="required">
			<xs:annotation>
				<xs:documentation>Conformance indicates whether or not the constraint produces errors or warnings. In legacy implementation guides, conformance was not used for primitive constraints (NONE). All constraints going forward must have a valid conformance verb (other than "NONE").</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NONE"/>
					<xs:enumeration value="SHALL"/>
					<xs:enumeration value="SHALL NOT"/>
					<xs:enumeration value="SHOULD"/>
					<xs:enumeration value="SHOULD NOT"/>
					<xs:enumeration value="MAY"/>
					<xs:enumeration value="MAY NOT"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="cardinality" type="xs:string" use="optional"/>
		<xs:attribute name="dataType" type="xs:string" use="optional"/>
		<xs:attribute name="containedTemplateOid" type="xs:string" use="optional"/>
		<xs:attribute name="containedTemplateType"/>
		<xs:attribute name="isBranch" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="isBranchIdentifier" type="xs:boolean" default="false"/>
		<xs:attribute name="isPrimitive" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="isStatic" type="xs:boolean" use="optional"/>
		<xs:attribute name="isInheritable" type="xs:boolean" default="true"/>
		<xs:attribute name="isSchRooted" type="xs:boolean" default="false"/>
		<xs:attribute name="isVerbose" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Verbose constraints are not explicitly defined constraints as part of the template. They are the result of a verbose output of the schema's elements/attributes. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="false" name="mustSupport" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>FHIR mustSupport flag. Only used in FHIR profile exports.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="false" name="isModifier" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>FHIR isModifier flag. Only used in FHIR profile exports.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="false" name="isHeading" type="xs:boolean"/>
	</xs:complexType>
	<xs:simpleType name="ImplementationGuideStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Draft"/>
			<xs:enumeration value="Ballot"/>
			<xs:enumeration value="Published"/>
			<xs:enumeration value="Deprecated"/>
			<xs:enumeration value="Retired"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CardinalityTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Zero"/>
			<xs:enumeration value="ZeroOrOne"/>
			<xs:enumeration value="ZeroToMany"/>
			<xs:enumeration value="One"/>
			<xs:enumeration value="OneToMany"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
